<!-- Page Content -->
@using Noviembre.Core.Entidades
@model List<Modulo>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Modulos</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>

                                        <th>Dirección</th>

                                        <th>Horario</th>

                                        <th>Referencias</th>
                                     
                                        <th>Municipio</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (Modulo e in Model)
                                    {
                                        <tr>
                                            <td>
                                                @e.Nombre
                                            </td>
                                            <td>
                                                @e.Direccion
                                            </td>
                                            <td>
                                                @e.Horario
                                            </td>
                                            <td>
                                                @e.Referencias
                                            </td>
                                            <td>
                                                @e.Municipio.Nombre
                                            </td>
                                            
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>